body{
    background-image:url("images/cinema.jpg");
    background-size: cover;
    background-position: top center;
    color:white;
    padding-left: 20px;
}
.second-ol{
    list-style:upper-latin;
    color:white;
}
ul{
    list-style:disc;
    color:white;
}
.first-li{
    color:yellowgreen;
    font-size: 25px;
    list-style: none;
}